<config>
	<vfs>
		<dir name="dev">
			<dir name="pipe"> <pipe/> </dir>
			<log/>
			<inline name="rtc">2018-01-01 00:01</inline>
		</dir>
		<dir name="qt">
			<dir name="plugins">
				<dir name="platforms">
					<rom name="libqnitpicker.lib.so"/>
				</dir>
			</dir>
		</dir>
		<tar name="qt5_dejavusans.tar"/>
	</vfs>
	<libc stdout="/dev/log" stderr="/dev/log" pipe="/dev/pipe" rtc="/dev/rtc"/>
</config>
